.editor-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
}

.editor-container-inner {
  width: 100%;
  height: 50%;
  padding: 0.5rem 0;
}

.editor-section {
  border-bottom: 1px solid #333;
}

.preview-editor,
.editor-preview {
  width: 100%;
  height: 100%;
  padding: 2rem;
  font-size: 2rem;
  line-height: 2.4rem;
  overflow-y: auto;
}

.preview-editor {
  outline: 0;
  border: 0;
  resize: none;
}

.editor-preview h1 {
  font-size: 4.2rem;
  line-height: 1;
}

.editor-preview h2 {
  font-size: 3.4rem;
  line-height: 1;
}

.editor-preview p {
  margin: 1.5rem 0;
}

.editor-preview ul,
.editor-preview ol {
  margin: 1.5rem 0;
}

.editor-preview *:first-child {
  margin-top: 0;
}

.editor-preview *:last-child {
  margin-bottom: 0;
}

.editor-preview blockquote {
  border-left: 3px solid rgba(100, 100, 100, 0.3);
  margin: 0;
  padding: 1rem;
  font-style: italic;
  color: #666;
}

.editor-preview img {
  max-width: 100%;
  height: auto;
}

.editor-preview pre {
  padding: 1rem 0 1rem 1rem;
  width: 100%;
  max-width: 50rem;
  background: #efefef;
}

.editor-preview pre code {
  background: none;
}

.editor-preview code {
  font-family: monospace;
  background: #efefef;
}

@media screen and (min-width: 500px) {
  .editor-container-inner {
    width: 50%;
    height: 100%;
    padding: 2rem;
    overflow-y: initial;
  }

  .editor-section {
    border-bottom: none;
    border-right: 1px solid #333;
  }
}
